@model Miguitas.Web.Models.DeliverViewModel

@{
    ViewData["Title"] = "Deliver";
}

<div class="bg-img-board container" style="padding-bottom:1%">
    <h2 class="text-center">Enviar Pedido</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Deliver">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label"></label>
                    @*<div class="input-group date" data-provide="datepicker">
                            <input asp-for="DeliveryDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>*@
                    <input asp-for="DeliveryDate" class="form-control" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                    <input type="submit" value="Enviar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
