.navbar-custom {
    background-color: #e55d00;
}

.bg-dark {
    background-color: #000000;
}

.bg-board-solid {
    background-color: rgb(25, 25, 25);
}

.bg-frame-solid {
    background-color: rgb(126, 97, 52);
}

.bg-orange2 {
    background-color: #f98434;
}

.bg-orange {
    background-color: #e55d00;
}

.bg-grey {
    background-color: #363636;
}

.bg-img-board {
    /* The image used */
    background-image: url(../images/board_bg.jpg);
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-img-back {
    /* The image used */
    background-image: url(../images/backwood.png);
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-wall {
    /* The image used */
    background-image: url(../images/wood_wall.png);
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-wood {
    /* The image used */
    background-image: url(../images/Madera.png);
}

.bg-img-frame {
    /* The image used */
    background-image: url(../images/Frame.jpg);
}

.bg-img-wframe {
    /* The image used */
    background-image: url(../images/Frame_wood.png);
}

.text-orange {
    text-decoration-color: #e55d00;
}

.mystyle {
    width: 100px;
    height: 150px;
    max-width: 100%;
    height: auto;
    margin: 0 0.4em;
    padding: 0 !important;
    border: 1px solid #d3232e;
}

.circleborder {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.img-custom {
    width: 100px;
    height: 150px;
    max-width: 100%;
    height: auto;
}

.img-prod {
    border-radius: 50%;
    border: 4px solid #fafafa;
    width: 260px;
    height: 260px;
    max-width: 100%;
    height: auto;
}