@model Miguitas.Web.Models.ContactViewModel

@{
    ViewData["Title"] = "Contacto";
}
    <div class="bg-img-board container" style="padding-bottom:1%">
        <!--Section: Contact v.2-->
        <div class="row">
            <section class="mb-4 col-lg-12 glyphicon-object-align-horizontal">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4">Contactanos!</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">
                    ¿Alguna pregunta o sugerencia? Por favor escribinos por el motivo que sea. Nos comunicaremos contigo lo antes posible...
                </p>

                <div class="row">
                    <div class="col-lg-6 maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1770.1813423290525!2d-58.984065!3d-27.457966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc39c595760b9ce29!2sMiguita&#39;s!5e0!3m2!1ses!2sus!4v1561880845640!5m2!1ses!2sus" frameborder="0" style="border-radius: 20%; border: solid #ffffff; margin-left:6%; width: 90%; height: 100%; max-height: 100%; height: 80%" allowfullscreen></iframe>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-6">
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Name">Nombre:</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-muted"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="Subject">Asunto:</label>
                                    <input asp-for="Subject" class="form-control" />
                                    <span asp-validation-for="Subject" class="text-muted"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Email">Correo:</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-muted"></span>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Phone">Telefono:</label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-muted"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 form-group">
                                    <label asp-for="Message">Mensaje:</label>
                                    <textarea rows="2" cols="20" asp-for="Message" class="form-control"></textarea>
                                    <span asp-validation-for="Message" class="text-muted"></span>
                                </div>
                                <div class="col-lg-2">
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-secondary">Enviar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </section>
        </div>
        <div class="col-lg-12 text-success text-center">
            <p>
                @ViewBag.Message
            </p>
        </div>
        <!--Section: Contact v.2-->
        <div class="row text-center">
            <div class="col-lg-8">
                <img src="~/images/place.png" class="img-thumbnail" style="border-radius: 24%; margin-top:1%; width: 75%; height: 60%; max-height: 80%; height: auto" alt="Image">
            </div>
            <div class="col-lg-4">
                <br />

                <img src="~/images/phone.png" class="img-thumbnail" style="border-radius: 42%; margin-top:1%; width: 60%; height: 60%; max-height: 80%; height: auto" alt="Image">
            </div>
        </div>
        <br />
        <div class="text-right">
            <a href="~/Manual-Miguitas.pdf" class="text-right">
                <i class="fa fa-download" style="color:#e55d00"></i>
            </a>
        </div>
    </div>

<script>
    $(function () {
        function after_form_submitted(data) {
            if (data.result == 'success') {
                $('form#reused_form').hide();
                $('#success_message').show();
                $('#error_message').hide();
            }
            else {
                $('#error_message').append('<ul></ul>');

                jQuery.each(data.errors, function (key, val) {
                    $('#error_message ul').append('<li>' + key + ':' + val + '</li>');
                });
                $('#success_message').hide();
                $('#error_message').show();

                //reverse the response on the button
                $('button[type="button"]', $form).each(function () {
                    $btn = $(this);
                    label = $btn.prop('orig_label');
                    if (label) {
                        $btn.prop('type', 'submit');
                        $btn.text(label);
                        $btn.prop('orig_label', '');
                    }
                });

            }//else
        }

        $('#reused_form').submit(function (e) {
            e.preventDefault();

            $form = $(this);
            //show some response on the button
            $('button[type="submit"]', $form).each(function () {
                $btn = $(this);
                $btn.prop('type', 'button');
                $btn.prop('orig_label', $btn.text());
                $btn.text('Sending ...');
            });


            $.ajax({
                type: "POST",
                url: 'handler.php',
                data: $form.serialize(),
                success: after_form_submitted,
                dataType: 'json'
            });

        });
    });
</script>