@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="bg-img-board container" style="padding-bottom:1%">
    <h2 class="text-center">Email confirmado, ya puedes ingresar al sistema.</h2>
</div>

