@{
    ViewData["Title"] = "NotAuthorized";
}
    <div class="bg-img-board container text-center" style="padding-bottom:1%">
        <br />
        <br />
        <img src="~/images/NO.png" class="fa-border" style="border-radius: 50%; border: 3px solid #fafafa; width: 300px; height: 200px; max-width: 100%; height: auto;" alt="Image" />
        <br />
        <br />
        <h2>Lo sentimos usted no esta autorizado para ingrear a esta pagina!!!</h2>

    </div>

